In [1]:
import requests
import pandas as pd

In [2]:
url = 'https://finance.yahoo.com/quote/BTC-USD/history?p=BTC-USD'
r = requests.get(url, headers={'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:15.0) Gecko/20100101 Firefox/15.0.1'})
read_html_pandas_data = pd.read_html(r.text)
dataframe = read_html_pandas_data[0][:-1]

In [4]:
dataframe.head()

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 23, 2022",21398.63,21510.24,20955.14,21398.94,21398.94,32775036928
1,"Aug 22, 2022",21531.46,21531.46,20939.18,21398.91,21398.91,31666498758
2,"Aug 21, 2022",21160.39,21668.85,21103.20,21534.12,21534.12,23102307723
3,"Aug 20, 2022",20872.84,21350.81,20856.73,21166.06,21166.06,27595671000
4,"Aug 19, 2022",23213.31,23213.31,20868.85,20877.55,20877.55,40509610260

In [5]:
dataframe.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [6]:
close = dataframe["Close*"]

In [8]:
close.head()

0    21398.94
1    21398.91
2    21534.12
3    21166.06
4    20877.55
Name: Close*, dtype: object

In [9]:
close_yest = close.shift(-1)
close_2d = close.shift(-2)
close_3d = close.shift(-3)
close_4d = close.shift(-4)

In [14]:
close_yest

0     21398.91
1     21534.12
2     21166.06
3     20877.55
4     23212.74
        ...
95    30314.33
96    28720.27
97    30425.86
98    29862.92
99         NaN
Name: Close*, Length: 100, dtype: object

In [15]:
dataframe['yesterday close'] = close_yest
dataframe['2 day ago close'] = close_2d
dataframe['3 day ago close'] = close_3d
dataframe['4 day ago close'] = close_4d

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [17]:
dataframe.dropna(inplace=True)
dataframe

,Date,Open,High,Low,Close*,Adj Close**,Volume,yesterday close,2 day ago close,3 day ago close,4 day ago close
0,"Aug 23, 2022",21398.63,21510.24,20955.14,21398.94,21398.94,32775036928,21398.91,21534.12,21166.06,20877.55
1,"Aug 22, 2022",21531.46,21531.46,20939.18,21398.91,21398.91,31666498758,21534.12,21166.06,20877.55,23212.74
2,"Aug 21, 2022",21160.39,21668.85,21103.20,21534.12,21534.12,23102307723,21166.06,20877.55,23212.74,23336.00
3,"Aug 20, 2022",20872.84,21350.81,20856.73,21166.06,21166.06,27595671000,20877.55,23212.74,23336.00,23883.29
4,"Aug 19, 2022",23213.31,23213.31,20868.85,20877.55,20877.55,40509610260,23212.74,23336.00,23883.29,24136.97
...,...,...,...,...,...,...,...,...,...,...,...
91,"May 24, 2022",29101.13,29774.36,28786.59,29655.59,29655.59,26616506245,29098.91,30323.72,29432.23,29200.74
92,"May 23, 2022",30309.40,30590.59,28975.56,29098.91,29098.91,31483454557,30323.72,29432.23,29200.74,30314.33
93,"May 22, 2022",29432.47,30425.86,29275.18,30323.72,30323.72,21631532270,29432.23,29200.74,30314.33,28720.27
94,"May 21, 2022",29199.86,29588.87,29027.39,29432.23,29432.23,17274840442,29200.74,30314.33,28720.27,30425.86
95,"May 20, 2022",30311.12,30664.98,28793.61,29200.74,29200.74,30749382605,30314.33,28720.27,30425.86,29862.92

In [18]:
import sklearn
from sklearn.model_selection import train_test_split

In [19]:
X = dataframe[["Open", 'yesterday close', '2 day ago close', '3 day ago close' ,'4 day ago close']]
x_train, x_test, y_train, y_test = train_test_split(X, dataframe[["Close*"]], test_size=0.20, shuffle=False)
x_train

        Open yesterday close 2 day ago close 3 day ago close 4 day ago close
0   21398.63        21398.91        21534.12        21166.06        20877.55
1   21531.46        21534.12        21166.06        20877.55        23212.74
2   21160.39        21166.06        20877.55        23212.74        23336.00
3   20872.84        20877.55        23212.74        23336.00        23883.29
4   23213.31        23212.74        23336.00        23883.29        24136.97
..       ...             ...             ...             ...             ...
71  26737.58        26762.65        28360.81        29083.80        30112.00
72  28373.51        28360.81        29083.80        30112.00        30214.36
73  29084.67        29083.80        30112.00        30214.36        31155.48
74  30110.33        30112.00        30214.36        31155.48        31370.67
75  30215.28        30214.36        31155.48        31370.67        29906.66

[76 rows x 5 columns]

# LinearRegression

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
lm = LinearRegression()
lm.fit(x_train,y_train)

LinearRegression()

In [22]:
pred= lm.predict(x_test)
pred

array([[29839.66562868],
       [30090.2170949 ],
       [28616.67448278],
       [28680.46682032],
       [28230.01742988],
       [29066.28292916],
       [28728.63206313],
       [30578.17266799],
       [30498.36995011],
       [28260.80173515],
       [28871.41362043],
       [27478.17139128],
       [28096.89275348],
       [28272.56672931],
       [28533.4030715 ],
       [28014.92280886],
       [28896.95625506],
       [28440.68100471],
       [27875.14554968],
       [29092.16637321]])

#mean absolute error

In [23]:
from sklearn import metrics
metrics.mean_absolute_error(y_test, pred)

1239.775248817318