In [38]:
import requests
import pandas as pd

In [39]:
url = 'https://finance.yahoo.com/quote/BTC-USD/history?p=BTC-USD'
r = requests.get(url, headers={'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:15.0) Gecko/20100101 Firefox/15.0.1'})
read_html_pandas_data = pd.read_html(r.text)
dataframe = read_html_pandas_data[0][:-1]

In [40]:
dataframe.head()

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Aug 23, 2022",21398.63,21510.65,20955.14,21441.81,21441.81,32566796288
1,"Aug 22, 2022",21531.46,21531.46,20939.18,21398.91,21398.91,31666498758
2,"Aug 21, 2022",21160.39,21668.85,21103.20,21534.12,21534.12,23102307723
3,"Aug 20, 2022",20872.84,21350.81,20856.73,21166.06,21166.06,27595671000
4,"Aug 19, 2022",23213.31,23213.31,20868.85,20877.55,20877.55,40509610260

In [41]:
dataframe.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [42]:
close = dataframe["Close*"]

In [43]:
close.head()

0    21441.81
1    21398.91
2    21534.12
3    21166.06
4    20877.55
Name: Close*, dtype: object

In [44]:
close_yest = close.shift(-1)
close_2d = close.shift(-2)
close_3d = close.shift(-3)
close_4d = close.shift(-4)

In [45]:
close_yest

0     21398.91
1     21534.12
2     21166.06
3     20877.55
4     23212.74
        ...
95    30314.33
96    28720.27
97    30425.86
98    29862.92
99         NaN
Name: Close*, Length: 100, dtype: object

In [46]:
dataframe['yesterday close'] = close_yest
dataframe['2 days ago close'] = close_2d
dataframe['3 days ago close'] = close_3d
dataframe['4 days ago close'] = close_4d

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [47]:
dataframe.dropna(inplace=True)
dataframe

,Date,Open,High,Low,Close*,Adj Close**,Volume,yesterday close,2 days ago close,3 days ago close,4 days ago close
0,"Aug 23, 2022",21398.63,21510.65,20955.14,21441.81,21441.81,32566796288,21398.91,21534.12,21166.06,20877.55
1,"Aug 22, 2022",21531.46,21531.46,20939.18,21398.91,21398.91,31666498758,21534.12,21166.06,20877.55,23212.74
2,"Aug 21, 2022",21160.39,21668.85,21103.20,21534.12,21534.12,23102307723,21166.06,20877.55,23212.74,23336.00
3,"Aug 20, 2022",20872.84,21350.81,20856.73,21166.06,21166.06,27595671000,20877.55,23212.74,23336.00,23883.29
4,"Aug 19, 2022",23213.31,23213.31,20868.85,20877.55,20877.55,40509610260,23212.74,23336.00,23883.29,24136.97
...,...,...,...,...,...,...,...,...,...,...,...
91,"May 24, 2022",29101.13,29774.36,28786.59,29655.59,29655.59,26616506245,29098.91,30323.72,29432.23,29200.74
92,"May 23, 2022",30309.40,30590.59,28975.56,29098.91,29098.91,31483454557,30323.72,29432.23,29200.74,30314.33
93,"May 22, 2022",29432.47,30425.86,29275.18,30323.72,30323.72,21631532270,29432.23,29200.74,30314.33,28720.27
94,"May 21, 2022",29199.86,29588.87,29027.39,29432.23,29432.23,17274840442,29200.74,30314.33,28720.27,30425.86
95,"May 20, 2022",30311.12,30664.98,28793.61,29200.74,29200.74,30749382605,30314.33,28720.27,30425.86,29862.92

In [48]:
import sklearn
from sklearn.model_selection import train_test_split

In [49]:
X = dataframe[["Open", 'yesterday close', '2 days ago close', '3 days ago close' ,'4 days ago close']]
x_train, x_test, y_train, y_test = train_test_split(X, dataframe[["Close*"]], test_size=0.20, shuffle=False)
x_train

,Open,yesterday close,2 days ago close,3 days ago close,4 days ago close
0,21398.63,21398.91,21534.12,21166.06,20877.55
1,21531.46,21534.12,21166.06,20877.55,23212.74
2,21160.39,21166.06,20877.55,23212.74,23336.00
3,20872.84,20877.55,23212.74,23336.00,23883.29
4,23213.31,23212.74,23336.00,23883.29,24136.97
...,...,...,...,...,...
71,26737.58,26762.65,28360.81,29083.80,30112.00
72,28373.51,28360.81,29083.80,30112.00,30214.36
73,29084.67,29083.80,30112.00,30214.36,31155.48
74,30110.33,30112.00,30214.36,31155.48,31370.67
75,30215.28,30214.36,31155.48,31370.67,29906.66

# LinearRegression

In [50]:
from sklearn.linear_model import LinearRegression

In [51]:
lm = LinearRegression()
lm.fit(x_train,y_train)

LinearRegression()

In [52]:
pred= lm.predict(x_test)
pred

array([[29839.86490104],
       [30089.72024571],
       [28616.22744293],
       [28680.13780848],
       [28229.52287108],
       [29065.24097166],
       [28729.32018052],
       [30578.68412811],
       [30497.98604845],
       [28260.45171173],
       [28869.49356051],
       [27478.05062758],
       [28097.00263192],
       [28272.19918573],
       [28532.98936525],
       [28015.26038465],
       [28896.44321149],
       [28440.54753466],
       [27875.16620818],
       [29091.31704291]])

#mean absolute error

In [53]:
from sklearn import metrics
metrics.mean_absolute_error(y_test, pred)

1240.12610968112

In [91]:
type(close)

pandas.core.series.Series

In [100]:
thisClosePredict= lm.predict([[
    dataframe["Open"][0],
    dataframe["yesterday close"][0],
    dataframe["2 days ago close"][0],
    dataframe["3 days ago close"][0],
    dataframe["4 days ago close"][0],]]
)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

In [103]:
thisClosePredict[0][0]

21521.15079452409